.posicao{
    width: 200px;
    height: 200px;
    background-color:pink;
    border-bottom: 3px dashed plum;
}

.static{
    border-right: 5px solid lightgoldenrodyellow;
    position: static;
    top: 20px;

}